    {%- if page.sequence -%}
    {% assign next_pages = site.UndergradContent | where_exp: "item", "item.sequence > page.sequence" | sort: "sequence" %}
    {% assign prev_pages = site.UndergradContent | where_exp: "item", "item.sequence < page.sequence" | sort: "sequence" %}

    <div class="wrapper">
    <div class="navbar">
        <span class="navbar-left"> 
            
        {% if prev_pages.size > 0 %}
            <a href="{{ prev_pages.last.url | relative_url }}">PREVIOUS</a>
        {% endif %}
    </span>

        <span class="navbar-right"> 
        {% if next_pages.size > 0 %}
            
            <a href="{{ next_pages.first.url | relative_url }}">NEXT</a>
        {% endif %}
    </span>
    </div>
    </div>
    {%- endif -%}

